@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  font-size: 20px;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.container-logo {
  position: relative;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.container-logo:after {
  content: '';
  background: url("../images/vector.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  position: absolute;
  width: 100%;
  height: 59px;
  bottom: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}

.logo {
  display: block;
  position: absolute;
  z-index: 1;
}

.page-logo {
  display: block;
  position: relative;
  margin-right: 47px;
  width: 139px;
}

.container-title {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  margin-top: 63px;
  margin-bottom: 90px;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.main-paragraph {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  max-width: 485px;
  list-style-type: none;
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  bottom: 0;
  top: 63px;
  height: 2px;
  background-color: #756257;
  width: calc(100% - 2px);
  content: "";
}

.navigation-list .navigation-item:nth-child(3) .navigation-link {
  margin-right: 0;
}

.navigation-link {
  position: relative;
  display: block;
  margin-right: 34px;
  padding-top: 20px;
  padding-bottom: 19px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link:focus  {
  color: #756157;
}

.navigation-link:hover .navigation-icon {
  fill: #756157;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-link:focus .navigation-icon {
  fill: #756157;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  margin: 0;
  padding-right: 24px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  margin: 0;
  margin-right: 33px;
}

.favorite-number {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 14px;
  top: 15px;
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 10px;
  text-align: center;
  letter-spacing: -0.1em;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
  font-weight: 700;
  font-size: 20px;
}

.button-user {
  display: inline-block;
  padding: 9px 14px;
  margin-top: 14px;
  width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.navigation-item:hover .button-user {
  background: #615048;
  border-radius: 4px;
  color: #FFFFFF;
}

.navigation-item:active .button-user {
  background: #756157;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-item:focus .button-user {
  background: #615048;
  border-radius: 4px;
  color: #FFFFFF;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-top: 52px;
  margin-bottom: 83px;

}
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.container-advantages {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 400px;
  padding: 92px 85px;
}

.container-advantages-icon {
  padding: 80px 85px;
}

.container-advantages-numb {
  padding: 103px 85px;
}

.advantages-item {
  margin: 0;
  padding: 0;
  max-width: 400px;
}

.advantages-img {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  color: #FFFFFF;
  background: #82B3D3;
}

.advantages-row-reverse {
  margin: 0;
  padding: 0;
  flex-direction: row-reverse;
}

.advantages-item-image {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-image-city {
  display: block;
  padding: 0;
  margin: 0;
  width: 800px;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.advantages-city {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.advantages-numb {
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description {
  display: flex;
  margin: 0;
  padding: 0;
}

.description-city {
  margin: 0;
  padding: 0;
}

.advantages-image-city{
  display: flex;
  margin: 0;
  padding: 0;
}

.color-block {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.color-road {
  background: rgba(131, 179, 211, 0.2);
  min-width: 400px;
}

.search {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 93px;
}

.interest {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.best {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  margin-bottom: 56px;
}

.button-search {
  display: inline-block;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button-search:hover {
  background: #615048;
  border-radius: 4px;
  color: #FFFFFF;
}

.button-search:active {
  background: #756157;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.button-search:focus {
  background: #615048;
  border-radius: 4px;
  color: #FFFFFF;
}

.appointment {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
  text-align: center;
  padding: 94px 200px;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.appointment-paragraph {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  margin-bottom: 46px;
}

.button {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.appointment-form-email {
  display: flex;
  margin: 0;
  flex-grow: 1;
}

.field {
  margin: 0;
  padding: 20px 0 19px 22px;
  font: inherit;
  color: #000000;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  width: 600px;
  border: 0;
}

.field:hover {
  background: #E6E6E6;
}
.field:focus {
  background: #E6E6E6;
  border-color: #83B3D3;
}

.field:disabled,
.field:disabled:hover {
  color: #595959;
  background-color: #FFFFFF;
  border-color: #000000;
}

.field:invalid {
  box-shadow: none;
}

.field:focus:invalid {
  border-color: #ea5454;
}

.button-appointment {
  margin: 0;
  width: 200px;
  background: #82B3D3;
  border-radius: 0 10px 10px 0;
  padding: 12px 15px;
  line-height: 36px;
}

.inner-header {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.button-appointment:hover {
  background: #68A2CA;
  color: #FFFFFF;
}

.button-appointment:active {
  background: #82B3D3;
  border-radius: 0 10px 10px 0;
  color: rgba(255, 255, 255, 0.3);
}

.button-appointment:focus {
  background: #68A2CA;
  border-radius: 0 10px 10px 0;
  color: #FFFFFF;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin-right: 10px;
  fill: #FFFFFF;
  cursor: pointer;
}

.breadcrumbs-icon {
  display: block;
  width: 5px;
  height: 8px;
  margin-right: 10px;
  padding-top: 6px;
}

.breadcrumbs-icon::after {
  background-image: url(../images/right-arrow.svg);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  padding-right: 25px;
  content: "";
}

.breadcrumbs-item:hover {
  fill: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:active {
  fill: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:focus {
  fill: #FFFFFF;
  color: #FFFFFF;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.product-card-image {
  display: block;
}

.product-card-title-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.button-detailed {
  display: inline-block;
  padding: 9px 15px;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.button-detailed:hover {
  background: #615048;
  border-radius: 4px;
  color: #FFFFFF;
}

.button-detailed:active {
  background: #756157;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.button-detailed:focus {
  background: #615048;
  border-radius: 4px;
  color: #FFFFFF;
}

.button-favourites {
  display: inline-block;
  padding: 9px 15px;
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.button-favourites:hover {
  background: #68A2CA;
  color: #FFFFFF;
}

.button-favourites:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-favourites:focus {
  background: #68A2CA;
  color: #FFFFFF;
}

.button-favourites-current {
  background: #7DB54F;
}

.button-favourites-current:hover {
  background: #6C9E42;
}

.button-favourites-current:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-favourites-current:focus {
  background: #6C9E42;
}

.product-stars {
  display: inline-block;
  background-image: url("../images/star.svg");
  background-repeat: space;
  margin: auto 0;
  width: 89px;
  height: 17px;
}

.product-list .product-card:nth-child(3) .product-stars {
  width: 66px;
}

.product-list .product-card:nth-child(4) .product-stars {
  width: 42px;
}

.rating {
  display: inline-block;
  padding: 9px 22px;
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.appointment-catalog {
  width: 800px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.appointment-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.appointment-catalog-paragraph {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 46px;
}

.appointment-catalog-form-email {
  display: flex;
}

.page-footer {
  font-size: 40px;
  line-height: 40px;
}

.page-footer-container {
  display: flex;
  padding: 40px 70px 30px 70px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-socials {
  max-width: 190px;
  margin-right: 237px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
}

.footer-social-item {
  padding: 0;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  width: 47px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  fill: #83B3D3;
}

.footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:active  {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-link:focus {
  fill: #68A2CA;
}

.footer-contact {
  width: 331px;
  margin-right: 236px;
}

.footer-contact-phone {
  color: #000000;
  text-decoration: none;
}

.footer-contact-phone:hover {
  color: #756157;
}

.footer-contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-contact-phone:focus {
  color: #756157;
}

.logo-html {
  margin: 0;
  max-width: 115px;
}

.logo-html-link:hover {
  fill: #756157;
}

.logo-html-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

.logo-html-link:focus {
  fill: #756157;
}

.footer-logo:hover {
  background: #756157;
}

.container-catalog {
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  border-radius: 0;
  background-repeat: no-repeat;
  width: 1060px;
  padding: 70px;
  padding-top: 35px;
}

.catalog-products {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
}

.catalog-filter-type {
  margin: 0;
  margin-right: 175px;
  padding: 0;
  width: 125px;
  border: 0;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: start;
  margin-bottom: 34px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-infrastructure {
  width: 151px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  border: 0;
}

.catalog-filter-price {
  padding: 0;
  margin: 0;
  width: 289px;
  margin-right: 70px;
  border: 0;
}

.catalog-filter-label {
  position: relative;
}

.button-catalog {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-top: 61px;
}

.button-apply {
  margin: 0;
  padding: 14px 15px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 21px;
  background: #82B3D3;
  border-radius: 4px;
  min-width: 160px;
  min-height: 48px;
}

.button-apply:hover {
  background: #68A2CA;
}

.button-apply:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-apply:focus {
  background: #68A2CA;
}

.button-off {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  background-color: transparent;
}

.button-off:hover,
.button-off:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-off:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.filter-menu {
  display: flex;
  align-items: center;
  margin: 55px 71px 57px 72px;
}

.select {
  position: relative;
  display: flex;
  margin-right: auto;
  align-items: center;
  width: 290px;
}

.select-control {
  width: 100%;
  padding: 14px 20px;
  padding-right: 48px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  font: inherit;
  background-image: url("../images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: rgba(104, 162, 202, 1);
}

.select-control:active {
  border-color: rgba(63, 94, 114, 1);
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.filter-menu .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.control {
  cursor: pointer;
}

.filter-menu .button-current {
  border-color: #000000;
}

.button-light:hover {
  border-color: #000000;
}

.button-light:active {
  border-color: #000000;
}

.button-light:focus,
.button-current:focus {
  border-color: rgba(104, 162, 202, 1);
}

.filter-menu-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 191px;
  white-space: nowrap;
}

.product-list {
  display: grid;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-bottom: 96px;
}

.wrapper {
  margin: auto;
}

.inner-description {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
}

.page-pagination {
  position: relative;
  display: flex;
  width: 1056px;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 71px 25px 73px;
}

.page-pagination::before {
  position: absolute;
  top: -30px;
  width: 1055px;
  height: 1px;
  content: "";
  background-color: #E6E6E6;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus {
  background: #68A2CA;
}

.filter-pagination {
  display: flex;
  margin: 0;
  padding: o;
  justify-content: space-around;
  align-items: center;
}

.filter-pagination-title {
  margin-right: 71px;
}

.pagination-select {
  position: relative;
  display: flex;
  margin-right: auto;
  align-items: center;
  width: 160px;
}

.pagination-select-control {
  width: 100%;
  padding: 14px 20px;
  padding-right: 48px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  background-image: url("../images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.pagination-select-control:hover,
.pagination-select-control:focus {
  border-color: rgba(104, 162, 202, 1);
}

.pagination-select-control:active {
  border-color: rgba(63, 94, 114, 1);
}

.pagination-select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 12px 24px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
  border: 1px solid #F2F2F2;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  position: absolute;
  top: 15px;
  right: 14px;
  opacity: 0.3;
}

.catalog-filter-input {
  position: relative;
}

.range-input {
  width: 72px;
  margin-bottom: 32px;
  padding: 14px 50px 13px 19px;
  font: inherit;
  background-color: transparent;
  appearance: none;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  color: #FFFFFF;
}

.range-input-min {
  border-right: 1px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}

.range-toggle:hover {
  background: #FFFFFF;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  margin-bottom: 15px;
  text-align: left;
}

.control-mark {
  position: absolute;
  left: -1px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #FFFFFF;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control:active .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control:focus .control-mark {
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../images/check-mark.svg");;
  content: "";
  color: transparent;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;;
  border-radius: 50%;
  content: "";
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

/* стиль для закрытия модального окна*/
.modal-container-close {
  display: none;
}

.modal {
  position: fixed;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 575px;
}

.modal-auth {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/cross-icons.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 63px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-content {
  margin: 0;
  margin-bottom: 70px;
}

.modal-shape {
  display: flex;
  position: relative;
  margin-bottom: 40px;
}

.calendar {
  position: absolute;
  top: 18px;
  right: 17px;
}

.arrival-date,
.departure-date {
  min-width: 119px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-right: 42px;
  display: flex;
  align-items: center;
}

.text-input {
  width: 420px;
  max-height: 50px;
  background: #F2F2F2;
  border-radius: 4px;
  border: 0;
  padding: 15px 14px 19px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
}

.date-text {
  position: absolute;
  top: 217px;
  left: 233px;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  margin: 0;
}

.text-number {
  position: absolute;
  font-size: 16px;
  line-height: 21px;
  top: 310px;
  left: 233px;
  color: #333333;
  margin: 0;
}

.wrapper-buttons {
  display: flex;
  margin-bottom: 40px;
}

.grownup {
  display: flex;
}

.grownup-label {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-right: 64px;
  align-items: center;
  min-width: 91px;
}

.wrapper-choice-grownup,
.wrapper-choice-kids {
  display: flex;
  max-height: 50px;
  min-width: 133px;
  background: #F2F2F2;
  border-radius: 4px;
  border: 0;
}

.wrapper-choice-grownup {
  margin-right: 56px;
}

.button-plus,
.butten-minus {
  background: #F2F2F2;
  border-radius: 4px;
  border: 0;
  padding: 0;
  margin: 0;
  opacity: 0.3;
  cursor: pointer;
}

.minus {
  padding: 24px 29px 25px 19px;
  display: flex;
  align-items: center;
  height: 13px;
  min-width: 1px;
}

.plus {
  padding: 18px 19px 19px 30px;
  height: 13px;
  width: 13px;
}

.grownup-number,
.child-number  {
  width: 15px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 0;
  background: #F2F2F2;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
}

.child {
  display: flex;
}

.child-label {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-right: 18px;
  align-items: center;
  width: 79px;
}

.button-find {
  width: 575px;
  min-height: 34px;
  background: #83B3D3;
  border-radius: 10px;
  border: 0;
  color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 12px;
}

.tooltip {
  position: absolute;
  right: 210px;
}

.tooltip-toggle {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -12px;
  right: 10px;
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../images/icon-help.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1px 9px;
  background-color: #82B3D3;
  border: none;
  border-radius: 50%;
  cursor: help;
}

.tooltip-text {
  text-transform: none;
  font-size: 16px;
  line-height: 21px;
  background-color: #333333;
  color: #FFFFFF;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 216px;
  position: absolute;
  top: 30px;
  left: -155px;
  /*display: none;*/
  z-index: 1;
}

.tooltip-text::after {
  content:'';
  background-image: url("../images/icon/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover
.tooltip-toggle:focus {
  background-color: #68A2CA;
}

.tooltip-toggle:hover + .tooltip-text
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-close-button:hover,
.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  border: #83B3D3;
}

.text-input:hover {
  background-color: #E6E6E6;
}

.text-input:active {
  background-color: #FFFFFF;
  border: 2px solid #000000;
}

.text-input:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
}

.button-find:hover {
  background-color: #68A2CA;
}

.button-find:active {
  background-color: #68A2CA;
  opacity: 0.3;
}

.button-find:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.butten-minus:hover {
  opacity: 1;
}

.butten-minus:active {
  opacity: 0.2;
}

.butten-minus:focus {
  opacity: 1;
  border: 3px solid #83B3D3;
}

.button-plus:hover {
  opacity: 1;
}

.button-plus:active {
  opacity: 0.2;
}

.button-plus:focus {
  opacity: 1;
  border: 3px solid #83B3D3;
}
