@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.page-header {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-paragraph {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.page-logo {
  width: 139px;
  padding-right: 47px;
  margin-left: 70px;
}

.navigation-list {
  width: 340px;
  margin: 0;
  padding-right: 312px;
}

.navigation-user {
  width: 220px;
  margin-left: auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-item-1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #82B3D3;
  color: #FFFFFF;
  min-height: 384px;
}

.advantages-items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 1200px;
}

.advantages-item-2 {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  text-align: center;
}

.advantages-item-3 {
  width: 400px;
  text-align: center;
}

.advantages-item-4 {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  text-align: center;
}

.advantages-item-5 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #82B3D3;
  color: #FFFFFF;
}

.advantages-features {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item-6 {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-7 {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-item-8 {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-city {
  font-weight: 700;
  font-size: 24px;
}

.advantages-item-home {
  font-weight: 700;
  font-size: 24px;
}

.advantages-item-meal {
  font-weight: 700;
  font-size: 24px;
}

.advantages-item-souvenirs {
  font-weight: 700;
  font-size: 24px;
}

.advantages-item-bridge {
  font-weight: 700;
  font-size: 24px;
}

.advantages-item-space {
  font-weight: 700;
  font-size: 24px;
}

.advantages-item-road {
  font-weight: 700;
  font-size: 24px;
}

.advantages-item-rew {
  font-weight: 700;
  font-size: 24px;
}

.search {
  text-align: center;
}

.interest {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.best {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.appointment {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 411px;
  text-align: center;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.appointment-paragraph {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.inner-header {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  margin-left: 70px;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.button-detailed {
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-favourites {
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-link {
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
  border: 1px solid #F2F2F2;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.appointment-catalog {
  width: 1200px;
  text-align: center;
}

.appointment-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.appointment-catalog-paragraph {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-footer {
  font-size: 40px;
  line-height: 40px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-socials {
  width: 170px;
  margin-right: 250px;
}

.footer-contact {
  width: 331px;
  margin-right: 236px;
}

.logo-html {
  margin-left: 72px;
  max-width: 115px;
}

.container-catalog {
  background-image: url("../images/filter-background.jpg");
  background-size: 100% auto;
  border-radius: 0;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 403px;
}

.catalog-products {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-infrastructure {
  width: 150.43px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  margin-left: 70px;
  border: 0;
}

.catalog-filter-type {
  width: 125px;
  margin-right: 176px;
  border: 0;
}

.catalog-filter-price {
  width: 289px;
  margin-right: 70px;
  border: 0;
}

.button-catalog {
  display: flex;
  flex-direction: Column;
  margin-right: 70px;
  margin-left: 70px;
  padding: 0;
}

.filter-menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter-menu-title {
  width: 338px;
  margin-right: 221px;
  margin-left: 72px;
}

.filter-pagination {
  margin: 0 auto;
  width: 141px;
  margin-right: 282px;
  margin-left: 270px;
}

.product-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-card-amara {
  width: 340px;
  margin-left: 73px;
}

.product-card-villas {
  width: 340px;
}

.product-card-desert {
  width: 340px;
}

.product-card-greenTree {
  width: 340px;
}

.page-pagination {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.pagination {
  margin: 0;
  padding: 0;
  margin-right: 270px;
}

.appointment-—Åatalog {
  text-align: center;
}
