@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.page-header {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 31px;
  padding-right: 290px;
  padding-left: 290px;
  max-width: 620px;
}

.main-paragraph {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 90px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.page-logo {
  width: 139px;
  padding-right: 47px;
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 19px;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
}

.button {
  display: block;
  padding: 9px 15px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-top: 51px;
  margin-bottom: 82px;

}
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-wrap: wrap;
  list-style-type: none;
}


.container-advantages {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 400px;
}

.advantages-item {
  margin: 0;
  padding: 0;
  max-width: 400px;
}

.advantages-img {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  color: #FFFFFF;
  background: #82B3D3;
}

.advantages-row-reverse {
  margin: 0;
  padding: 0;
  flex-direction: row-reverse;
}

.advantages-item-image {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 80px;
  padding-left: 85px;
  padding-right: 85px;
  margin-bottom: 30px;
}

.advantages-image-city {
  display: block;
  padding: 0;
  margin: 0;
  width: 800px;
}


.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-top: 92px;
  padding-right: 85px;
  padding-left: 85px;
  margin-bottom: 30px;
}

.advantages-city {
  margin: 0;
  padding: 0;
  padding-right: 85px;
  padding-left: 85px;
  margin-bottom: 30px;
}

.advantages-numb {
  margin: 0;
  padding: 0;
  padding-right: 85px;
  padding-left: 85px;
  margin-bottom: 30px;
}

.advantages-description {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 85px;
  padding-left: 85px;
  margin-bottom: 92px;
}

.description-city {
  margin: 0;
  padding: 0;
  margin-bottom: 81px;
  margin-left: 85px;
  margin-right: 85px;
}

.advantages-image-city{
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-content {
  padding-top: 103px;
  padding-right: 85px;
  padding-left: 85px;
  margin-bottom: 30px;
}

.description-square {
  margin: 0;
  padding: 0;
  margin-bottom: 102px;
  padding-right: 85px;
  padding-left: 85px;
}

.color-bloc {
  background: rgba(131, 179, 211, 0.12);
  min-width: 400px;
}

.color-road {
  background: rgba(131, 179, 211, 0.2);
  min-width: 400px;
}

.search {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;

}

.interest {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 91px;
  padding-right: 451px;
  padding-left: 452px;
  margin-bottom: 29px;
}

.best {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-right: 304px;
  padding-left: 304px;
  margin-bottom: 56px;
}

.button-search {
  padding-right: 313px;
  padding-left: 313px;
  margin-bottom: 93px;
}

.appointment {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding: 94px 200px;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 29px;
}

.appointment-paragraph {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 46px;
}

.inner-header {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  margin-left: 70px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item{
margin-right: 26px;
margin-left: 70px;
margin-bottom: 40px;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.button-detailed {
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-favourites {
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-link {
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
  border: 1px solid #F2F2F2;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.appointment-catalog {
  width: 800px;
  padding: 94px 200px;
}

.appointment-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}

.appointment-catalog-paragraph {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 46px;
}

.page-footer {
  font-size: 40px;
  line-height: 40px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-socials {
  width: 170px;
  margin-right: 250px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  padding-top: 58px;
}

.footer-social-item {
  width: 22px;
  height: 17px;
  padding-top: 58px;
  margin-right: 27px;
  margin-bottom: 27px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contact {
  width: 331px;
  margin-right: 236px;
  padding-top: 58px;
}

.logo-html {
  margin-left: 72px;
  max-width: 115px;
  padding-top: 58px;
}

.container-catalog {
  background-image: url("../images/filter-background.jpg");
  background-size: 100% auto;
  border-radius: 0;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 403px;
}

.catalog-products {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-infrastructure {
  width: 150.43px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  margin-left: 70px;
  border: 0;
}

.catalog-filter-type {
  width: 125px;
  margin-right: 176px;
  border: 0;
}

.catalog-filter-price {
  width: 289px;
  margin-right: 70px;
  border: 0;
}

.button-catalog {
  display: flex;
  flex-direction: Column;
  margin-right: 70px;
  margin-left: 70px;
  padding: 0;
}

.filter-menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter-menu-title {
  width: 338px;
  margin-right: 221px;
  margin-left: 72px;
}

.filter-pagination {
  margin: 0 auto;
  width: 141px;
  margin-right: 282px;
  margin-left: 270px;
}

.product-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-card-amara {
  width: 340px;
  margin-left: 73px;
}

.product-card-villas {
  width: 340px;
}

.product-card-desert {
  width: 340px;
}

.product-card-greenTree {
  width: 340px;
}

.page-pagination {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.pagination {
  margin: 0;
  padding: 0;
  margin-right: 270px;
}
