@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.page-header {
  font-size: 20px;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.container-logo {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}

.logo {
  display: block;
  position: relative;
  z-index: 1;
}

.page-logo {
  display: block;
  margin-right: 47px;
  width: 139px;
  margin-bottom: -5px;
}

.container-title {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  margin-top: 63px;
  margin-bottom: 90px;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 620px;
  margin: 0;
  margin-bottom: 31px;
}

.main-paragraph {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 485px;
  list-style-type: none;
}

.navigation-list .navigation-item:nth-child(3) .navigation-link {
  margin-right: 0;
}

.navigation-link {
  display: block;
  margin-right: 34px;
  padding-top: 20px;
  padding-bottom: 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
  font-weight: 700;
  font-size: 20px;
}

.button-user {
  display: inline-block;
  padding: 9px 15px;
  margin: 14px 0;
  width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link{
  background-image: url('../images/search-icons.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link{
  background-image: url('../images/favourites.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 18px;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 22px;
  outline: 5px solid #ff6347;
  outline-offset: -5px;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-top: 52px;
  margin-bottom: 83px;

}
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.container-advantages {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 400px;
}

.advantages-item {
  margin: 0;
  padding: 0;
  max-width: 400px;
}

.advantages-img {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  color: #FFFFFF;
  background: #82B3D3;
}

.advantages-row-reverse {
  margin: 0;
  padding: 0;
  flex-direction: row-reverse;
}

.advantages-item-image {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 80px;
  padding-left: 85px;
  padding-right: 85px;
  margin-bottom: 30px;
}

.advantages-image-city {
  display: block;
  padding: 0;
  margin: 0;
  width: 800px;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-top: 92px;
  padding-right: 85px;
  padding-left: 85px;
  margin-bottom: 30px;
}

.advantages-city {
  margin: 0;
  padding: 0;
  padding-right: 85px;
  padding-left: 85px;
  margin-bottom: 30px;
}

.advantages-numb {
  margin: 0;
  padding: 0;
  padding-right: 85px;
  padding-left: 85px;
  margin-bottom: 30px;
}

.advantages-description {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 85px;
  padding-left: 85px;
  margin-bottom: 92px;
}

.description-city {
  margin: 0;
  padding: 0;
  margin-bottom: 81px;
  margin-left: 85px;
  margin-right: 85px;
}

.advantages-image-city{
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-content {
  padding-top: 103px;
  padding-right: 85px;
  padding-left: 85px;
  margin-bottom: 30px;
}

.description-square {
  margin: 0;
  padding: 0;
  margin-bottom: 102px;
  padding-right: 85px;
  padding-left: 85px;
}

.color-block {
  background: rgba(131, 179, 211, 0.12);
  min-width: 400px;
}

.color-road {
  background: rgba(131, 179, 211, 0.2);
  min-width: 400px;
}

.search {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 93px;
}

.interest {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.best {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  margin-bottom: 56px;
}

.button-search {
  display: inline-block;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.appointment {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
  text-align: center;
  padding: 94px 200px;
}

.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.appointment-paragraph {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  margin-bottom: 46px;
}

.appointment-form-email {
  display: flex;
}

.inner-header {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  margin-left: 70px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 26px;
  margin-left: 70px;
  margin-bottom: 40px;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.button-detailed {
  display: inline-block;
  padding: 9px 15px;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.button-favourites {
  display: inline-block;
  padding: 9px 15px;
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.button-favourites-current {
  background: #7DB54F;
}

.product-stars {
  display: inline-block;
  background-image: url("../images/star.svg");
  background-repeat: space;
  margin: auto 0;
  width: 89px;
  height: 17px;
}

.product-list .product-card:nth-child(3) .product-stars {
  width: 66px;
}

.product-list .product-card:nth-child(4) .product-stars {
  width: 42px;
}

.rating {
  display: inline-block;
  padding: 9px 22px;
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.appointment-catalog {
  width: 800px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.appointment-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.appointment-catalog-paragraph {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 46px;
}

.appointment-catalog-form-email {
  display: flex;
}

.page-footer {
  font-size: 40px;
  line-height: 40px;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-socials {
  width: 170px;
  margin: 0;
  margin-right: 237px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 22px;
  height: 17px;
  padding-top: 58px;
  margin-right: 27px;
  margin-bottom: 27px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contact {
  width: 331px;
  margin-right: 236px;
  padding-top: 58px;
}

.logo-html {
  margin: 0;
  max-width: 115px;
  padding-top: 58px;
}

.container-catalog {
  background-image: url("../images/filter-background.jpg");
  background-size: 100% auto;
  border-radius: 0;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 403px;
}

.catalog-products {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-infrastructure {
  width: 150.43px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  margin-left: 70px;
  border: 0;
}

.catalog-filter-type {
  width: 125px;
  margin-right: 176px;
  border: 0;
}

.catalog-filter-price {
  width: 289px;
  margin-right: 70px;
  border: 0;
}

.button-catalog {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  margin-left: 70px;
  padding: 0;
}

.filter-menu {
  display: flex;
  margin: 0;
  padding: o;
  margin-top: 50px;
  margin-right: 71px;
  margin-left: 72px;
  margin-bottom: 56px;
}

.filter-menu-title {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 5px;
  margin-right: 211px;
}

.product-list {
  display: grid;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: 340px 340px 340px;
  gap: 18px;
  margin-bottom: 96px;
}

.wrapper {
  margin: auto;
}

.inner-description {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
}

.page-pagination {
  display: flex;
  width: 1056px;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 71px 25px 73px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.filter-pagination {
  padding-top: 20px;
  padding-bottom: 18px;
}

.pagination-link {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 12px 24px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
  border: 1px solid #F2F2F2;
}

.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
